.contact-wrapper{
    background: linear-gradient(rgba(245, 243, 243, 0.021), rgba(0, 0, 255, 0)), url('../../../images/water-banner.png')  no-repeat;
    background-size: cover;
    background-position: center;

}
.featureImgBox{
    box-shadow: 0px 5px 1px 0px lightgrey;
    border-radius: 3%;
    transition: all 1s cubic-bezier(0.42, 0, 0, 0.71);
    height: 304px;
}
.featureImgBox:hover{
    background-color: #e6ebf3;
    transform: scale(1.1);
}
.shadowCard{
    box-shadow: 0px 5px 1px 0px lightgrey;
    border-radius: 3%;
    transition: all 1s cubic-bezier(0.42, 0, 0, 0.71);
}
.shadowCard:hover{
    /* background: linear-gradient(#03a9f4, #e91ee3); */
    background-color: #e6ebf3;
    transform: scale(1.1);
}
.form-control{
    color: #e1edf9;
    background-color: #ffffff0d;
}
.form-control:focus{
    color: #e1edf9;
    background-color: #4950571a;
}
